


.notesContainer {
    display: flex;
    flex-flow: wrap row;
    border-bottom: 3px solid rgb(92, 3, 3);
}

.note {
    border: 2px solid rgb(92, 3, 3);
    margin: 1em;
    padding: 1em;
    width: 13rem;
    height: 13rem;
    
}

.notesMain {
    display: flex;
    flex-direction: row;
}


p {
    font-size: large;
}

.invisible {
    display: none;
}

