@import "./note-styles/note.css";
@import "./associates.css";
@import "./statements.css";


.header {
    display: flex;
    justify-content: space-between;
}

.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.criminalDetails {
    border: 2px solid black;
    margin: 1em;
    padding: 1em;
    width: 13rem;
    height: 13rem;
}

.name {
    font-weight: bolder;
}

.filters {
    display: flex;
    flex-direction: row;
    margin: 3em;
}

.criminalStatement {
    display: flex;
    flex-direction: row;
}
