.statementContainer {
    
}

.statement {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding: 0.3rem 1.5rem;
    height: 13em;
    width: 13em;
    margin: 1em;
}